html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  height: 100vh;
  padding-left: 0;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: white; 
  line-height: 1.6;}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  color: black;
  text-align: center;
}
h2 {
  font-weight: 600;
  color: #673ab7;
  font-size: 1.3em;
}
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #2196f3;
}
section {
  padding: 50px 0;
}
p{
  color: #505050;
}
.Top {
    height: 150px;
}
.Logo {
    float: left;
    padding: 20px;
}
.redesSociales ul li {
    float: left;
    width: 25%;
    padding: 60px 10px;
    background-color: #FFFFFF;
    text-align: center;
    color: #e2e2e2;
}
.redesSociales ul li a{
    color: #cacaca;
    text-decoration: none;
}
.redesSociales ul li a:hover {
    color: #006ee4;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  width: 100%;
}
li.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: space-around;
}
.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 40px;
}
.grid .cuerpoTextos1,
.grid .cuerpoTextos2,
.grid .cuerpoTextos3,
.grid .cuerpoTextos4,
.grid .cuerpoTextos5,
.grid .cuerpoTextos6 {
    width: 100%;
    background-color: #dcf3ff;
    padding: 20px;
    display: inline-grid;
    justify-items: center;
}
.portafolio ul li {
    width: auto;
    float: left;
    margin: 5px;
}
.portafolio1 img,
.portafolio2 img,
.portafolio3 img,
.portafolio4 img  {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.portafolio1 h2,
.portafolio2 h2,
.portafolio3 h2,
.portafolio4 h2  {
    text-align: center;
}
.portafolio1 p,
.portafolio2 p,
.portafolio3 p,
.portafolio4 p  {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.grid2 .portafolio1,
.grid2 .portafolio2,
.grid2 .portafolio3,
.grid2 .portafolio4 {
    background-color: #e5e4fb;
    padding: 20px;
    margin: 20px;
}

.portafolio1 {
  grid-area: div1;
}
.portafolio2 {
  grid-area: div2;
}
.portafolio3 {
  grid-area: div3;
}
.portafolio4 {
  grid-area: div4;
}
.blog1 {
  grid-area: div1;
}
.blog2 {
  grid-area: div2;
}
.blog3 {
  grid-area: div3;
}
.blog4 {
  grid-area: div4;
}

.grid2 {
    display: grid;
    grid-template-areas:
        'div1 div1'
        'div2 div3'
        'div4 div4';
}
.grid3 {
    display: grid;
    grid-template-areas:
        'div1 div2'
        'div1 div2'
        'div1 div3'
        'div1 div4';
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.blog1 img,
.blog2 img,
.blog3 img,
.blog4 img  {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.blog1 h2,
.blog2 h2,
.blog3 h2,
.blog4 h2  {
    text-align: center;
}
.blog1 p,
.blog2 p,
.blog3 p,
.blog4 p  {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.grid3 .blog1,
.grid3 .blog2,
.grid3 .blog3,
.grid3 .blog4 {
    background-color: #cef8fd;
    padding: 20px;
    margin: 20px;
}
.contacto {
    width: 56%;
    background-color: #dadada;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.container {
  max-width: 95%;
  padding-left: 3em;
}
label {
    display: block;
    margin: 5px;
}
input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input#newsletters {
    display: block;
}
textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
footer {
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #006ee4;
    background-image: linear-gradient(to top, #006ee4, #03a9f4);
    text-align: center;
}
footer p {
color: #FFFFFF;
}

@media (max-width: 1024px) {
  
} 

@media (max-width: 600px) {
}

@media (max-width: 320px) {
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.bounce {animation-name: bounce;}

section.error-message__container {
  font-size: 3.5em ! important;
  text-align: center;
}